<h1 mat-dialog-title>{{ 'SQUADS_COMPONENT_DELETE_SQUAD_DIALOG_TITLE' | translate }}</h1>
<div mat-dialog-content>
  <p>
    {{ 'SQUADS_COMPONENT_DELETE_SQUAD_DIALOG_CONTENT' | translate }} '{{data.squadName}}'? <b>({{ 'SQUADS_COMPONENT_DELETE_SQUAD_DIALOG_WARNING' | translate }})</b>
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'SQUADS_COMPONENT_DELETE_SQUAD_DIALOG_REJECT' | translate }}</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>