.loading-squads {
  margin: 0 10px;
}

.add-squad-container{
  margin-bottom: 16px;

  .squads-buttons-row{
    display: flex;
    flex-direction: row;

    button {
      margin-right: 8px;
    }
  }

  .add-squad-form {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
}

.squads-container {
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .saved-squad-buttons-row {
    margin-top: 16px;
    float: right;
  }
  button {
    margin-left: 8px;
  }
}

.options-component:not(:last-child) {
  margin-right: 4px;
}

.squad-wrapper:not(:first-child) {
  margin-top: 16px;
}