<section class="mat-typography">
  <h1>{{ 'SQUADS_COMPONENT_HEADING' | translate }}</h1>

  <div class="add-squad-container">
    <form [formGroup]="saveSquadForm"
          #squadForm="ngForm"
          novalidate
          (ngSubmit)="squadForm.form.valid && onSaveSquad()">
      <div class="squads-buttons-row">
        <button mat-raised-button (click)="cancelAddingSquad()"><i class="material-icons">cancel</i></button>
        <button mat-raised-button
                type="submit"
                #saveBtn
                [disabled]="!squadForm.form.valid">
          <i class="material-icons">save</i>      
        </button>
      </div>
      <div class="add-squad-form">
        <div><span class="mat-body-strong">{{ 'GALACTIC_POWER_ACRONYM' | translate }}: </span>{{addSquadTotalGP | number:''}}</div>
        <mat-form-field>
          <input matInput
                 formControlName="squadName" 
                 placeholder="{{ 'SQUADS_COMPONENT_SQUAD_NAME_PLACEHOLDER' | translate }}"
                 value=""
                 required
                 autocomplete="off">
        </mat-form-field>

        <mat-form-field>
          <input type="text"
                 placeholder="{{ 'SQUADS_COMPONENT_SQUAD_LEADER_PLACEHOLDER' | translate }}"
                 matInput
                 formControlName="squadLeader"
                 [matAutocomplete]="leader"
                 required
                 autocomplete="off">
          <mat-autocomplete #leader="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of leaderOptions | async" [value]="option">
              {{option.defId | translate }}
              <span class="options-component mat-small">{{ 'GALACTIC_POWER_ACRONYM' | translate }}: {{option.gp | number:''}}</span>
              <span class="options-component mat-small">{{ 'UNIT_LEVEL' | translate }}: {{option.level}}</span>
              <span class="options-component mat-small">{{ 'UNIT_GEAR' | translate }}: {{option.gear}}</span>
              <span class="options-component mat-small">Zeta: {{option.zetas}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text"
                 placeholder="{{ 'SQUADS_COMPONENT_SQUAD_MEMBER_PLACEHOLDER' | translate }}"
                 matInput
                 formControlName="squadMemberA"
                 [matAutocomplete]="memberA"
                 required
                 autocomplete="off">
          <mat-autocomplete #memberA="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of memberAOptions | async" [value]="option">
              {{option.defId | translate }}
              <span class="options-component mat-small">{{ 'GALACTIC_POWER_ACRONYM' | translate }}: {{option.gp | number:''}}</span>
              <span class="options-component mat-small">{{ 'UNIT_LEVEL' | translate }}: {{option.level}}</span>
              <span class="options-component mat-small">{{ 'UNIT_GEAR' | translate }}: {{option.gear}}</span>
              <span class="options-component mat-small">Zeta: {{option.zetas}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text"
                 placeholder="{{ 'SQUADS_COMPONENT_SQUAD_MEMBER_PLACEHOLDER' | translate }}"
                 matInput
                 formControlName="squadMemberB"
                 [matAutocomplete]="memberB"
                 required
                 autocomplete="off">
          <mat-autocomplete #memberB="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of memberBOptions | async" [value]="option">
              {{option.defId | translate }}
              <span class="options-component mat-small">{{ 'GALACTIC_POWER_ACRONYM' | translate }}: {{option.gp | number:''}}</span>
              <span class="options-component mat-small">{{ 'UNIT_LEVEL' | translate }}: {{option.level}}</span>
              <span class="options-component mat-small">{{ 'UNIT_GEAR' | translate }}: {{option.gear}}</span>
              <span class="options-component mat-small">Zeta: {{option.zetas}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text"
                 placeholder="{{ 'SQUADS_COMPONENT_SQUAD_MEMBER_PLACEHOLDER' | translate }}"
                 matInput
                 formControlName="squadMemberC"
                 [matAutocomplete]="memberC"
                 required
                 autocomplete="off">
          <mat-autocomplete #memberC="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of memberCOptions | async" [value]="option">
              {{option.defId | translate }}
              <span class="options-component mat-small">{{ 'GALACTIC_POWER_ACRONYM' | translate }}: {{option.gp | number:''}}</span>
              <span class="options-component mat-small">{{ 'UNIT_LEVEL' | translate }}: {{option.level}}</span>
              <span class="options-component mat-small">{{ 'UNIT_GEAR' | translate }}: {{option.gear}}</span>
              <span class="options-component mat-small">Zeta: {{option.zetas}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input type="text"
                 placeholder="{{ 'SQUADS_COMPONENT_SQUAD_MEMBER_PLACEHOLDER' | translate }}"
                 matInput
                 formControlName="squadMemberD"
                 [matAutocomplete]="memberD"
                 required
                 autocomplete="off">
          <mat-autocomplete #memberD="matAutocomplete" [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let option of memberDOptions | async" [value]="option">
              {{option.defId | translate }}
              <span class="options-component mat-small">{{ 'GALACTIC_POWER_ACRONYM' | translate }}: {{option.gp | number:''}}</span>
              <span class="options-component mat-small">{{ 'UNIT_LEVEL' | translate }}: {{option.level}}</span>
              <span class="options-component mat-small">{{ 'UNIT_GEAR' | translate }}: {{option.gear}}</span>
              <span class="options-component mat-small">Zeta: {{option.zetas}}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div><span class="mat-body-strong">{{ 'SQUADS_COMPONENT_ADD_SQUAD_NOTICE' | translate }}</span></div>
      </div>
    </form>
  </div>

  <mat-progress-spinner *ngIf="squadsLoading"
    class="loading-squads"
    color="accent"
    diameter="30"
    mode="indeterminate"
    aria-label="loading-squads">
  </mat-progress-spinner>
  <ng-container *ngIf="!squadsLoading">
    <ng-container *ngIf="squadsData?.hasOwnProperty('squadsDetails') && squadsData?.squadsDetails.length > 0">
      <h2>{{ 'SQUADS_COMPONENT_YOUR_SQUADS_HEADING' | translate }}</h2>

      <div class="squads-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let squad of squadsData?.squadsInfo[0]; let outerIndex = index">
            <mat-expansion-panel-header [id]="squad._id">
              <mat-panel-title>
                {{squad.squadName}}
              </mat-panel-title>
              <mat-panel-description>
                {{ 'GALACTIC_POWER_ACRONYM' | translate }}: {{squad.totalGP | number:''}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list-item *ngFor="let details of squadsData?.squadsDetails[outerIndex]">
              <span class="options-component mat-body-strong">{{details[0].defId | translate }}</span>
              <span class="options-component mat-small">{{ 'GALACTIC_POWER_ACRONYM' | translate }}: {{details[0].gp | number:''}}</span>
              <span class="options-component mat-small">{{ 'UNIT_GEAR' | translate }}: {{details[0].gear | romanize}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div class="saved-squad-buttons-row">
              <button mat-raised-button color="accent"
                      (click)="editSquad(squad._id, squad.squadName, squadsData?.squadsDetails[outerIndex])">
                <i class="material-icons">edit</i>
              </button>
              <button mat-raised-button color="warn"
                      (click)="deleteSquadOpenConfirm(squad._id, squad.squadName)">
                <i class="material-icons">delete</i>
              </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-container>

    <ng-container *ngIf="squadsData?.hasOwnProperty('squadsDetails') && squadsData?.squadsDetails.length == 0">
        <h2>{{ 'SQUADS_COMPONENT_NO_SQUADS_HEADING' | translate }}</h2>
    </ng-container>
  </ng-container>
</section>