<div>
  <form class="form-container" (ngSubmit)="sendAuthTokenToUser(authForm)" [formGroup]="authForm">

    <mat-form-field>
      <input matInput formControlName="playerName" placeholder="{{ 'AUTH_COMPONENT_PLAYER_NAME_PLACEHOLDER' | translate }}" value="" autocomplete="off">
    </mat-form-field>

    <label id="actions-radio-group-label">{{ 'AUTH_COMPONENT_RADIO_GROUP_LABEL' | translate }}</label>
    <mat-radio-group aria-labelledby="actions-radio-group-label" class="actions-radio-group"
      formControlName="selectedAction">
      <mat-radio-button class="action-radio-button" *ngFor="let action of actions" [value]="action.value">
        {{ action.label | translate }}
      </mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button type="submit" color="primary">{{ 'AUTH_COMPONENT_SEND_TOKEN_BUTTON' | translate }}</button>
  </form>
</div>