.form-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;

  .actions-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
  }
      
  .action-radio-button {
      margin: 5px;
  }
}