<mat-toolbar color="primary">
  <span>CdR - SWGoH App</span>
  <span class="fill-remaining-space"></span>
  <span>
    <button mat-button [matMenuTriggerFor]="menu">{{ 'TOOLBAR_COMPONENT_LANGUAGE_CHANGE_MENU_BUTTON' | translate }}</button>
    <mat-menu #menu="matMenu">
      <div class="lang-selector-wrapper">
        <button mat-menu-item (click)="setLang('en_GB')"><img src="./assets/img/en_GB.svg">{{ 'TOOLBAR_COMPONENT_LANGUAGE_CHANGE_ENGLISH' | translate }}</button>
      </div>
      <div class="lang-selector-wrapper">
        <button mat-menu-item (click)="setLang('it_IT')"><img src="./assets/img/it_IT.svg">{{ 'TOOLBAR_COMPONENT_LANGUAGE_CHANGE_ITALIAN' | translate }}</button>
      </div>
    </mat-menu>
  </span>
</mat-toolbar>